/* .cardDiv{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
} */
.mainDiv{
 

}
.signUpDiv{
    /* background-color: cyan; */
}
/* button{
    width: min-content;
    align-self: center
} */