<mat-toolbar  class="navbar">
    <div style="color: cornsilk;">To Do List</div>
    <div id="myDIV">
        <button class="navButton" mat-raised-button active>Home</button>
        <button class="navButton" mat-raised-button>Contact</button>
        <button class="navButton" mat-raised-button>About</button>
    </div>
  </mat-toolbar>

  <mat-accordion multi="false" >
    <div *ngFor="let task of taskArr; index as i;">

    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Task {{i+1}}
          </mat-panel-title>
          <mat-panel-description>
            <b>{{task.taskName}}</b>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="display: flex;flex-direction: row;align-items: center;">
            <p style="margin-right: 23.5rem;color: gray;font-weight: 500;font-size: 15px;">Description: </p> 
          <p style="color: gray;font-weight: 500;"> {{task.taskDetail}}</p>
   
        </div>
        <div style="display: flex;flex-direction: row;align-items: center;">
          <p style="margin-right: 24.5rem;color: gray ;font-weight: 500;font-size: 15px;">Due Date: </p> 
          <p style="color: gray; font-weight: 500;">{{task.dueDate}}</p>
 
      </div>
        <mat-action-row>       
          <button mat-button  type="submit" (click)="deleteTask(i)">Delete</button>
        </mat-action-row>
      </mat-expansion-panel>
      
    </div>
    </mat-accordion> 

<div class="buttonDiv"  fxLayout="row" fxLayoutAlign="end end">
    <button mat-fab class="addButton" type="submit" (click)="openDialog()">
        <mat-icon color="white">add</mat-icon>
    </button>
</div>


