.navbar{
    justify-content: space-between;
    background-color: rgb(18, 114, 179);
}
.navButton{
    margin-right: 3rem;    
}
.active, .btn:hover {
    background-color: #666;
    color: red;
  }
.addButton{
    background-color: rgb(18, 114, 179);
    align-self: flex-end;
}
.buttonDiv{
    /* background-color: crimson; */
    margin-top: 15px;
    margin-right: 15px;
}
.cardDiv{
    
}